button{
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;
    /* width: ; */
}
button:hover{
    background-color:grey;
    color: white;
}

button.light-mode, .light-mode button{
    background-color: #666;
    border: 1px solid black;
    color: black;

}

button.dark-mode, .dark-mode button{
    background-color: black;
    border: 1px solid yellow;
    color: white;
}