.education-container{
    border-top:2px solid black;
    border-bottom:2px solid black;
    padding: 5px 0px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.education{
    margin:10px;
    padding:10px;
    background: #ccc;
    border:1px solid black;
    box-shadow:2px 2px 3px;
    border-radius:10px;
}